*.ko
*.o
*.mod
*.mod.c
*.order
*.symvers
.*.cmd
.tmp_versions/

lab5/kernel_stack

*.log
*~
*.swp

lab2/hack-package/
lab2/unpatched_app
lab2/patched_app

lab1/tests/lab1_arm64_test
lab1/tests/lab1_arm_test
lab1/tests/lab1_x86_x64_test
lab1/tests/lab1_x86_test
